@import "../../styles/variables";

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 6rem;

  background-color: $color-black;
}
.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 1rem;
}
.app__header_h1 {
  font-family: $font-base;
  color: $color-golden;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 80px;
}
.app__header_p {
  font-family: $font-alt;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
  margin: 2rem 0;
}
.custom__button {
  background-color: $color-golden;
  color: $color-black;
  font-family: $font-base;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}
.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}
.app__wrapper_img img {
  width: 80%;
}
@media screen and (min-width: 2000px) {
  .app__header_h1 {
    font-size: 180px;
    line-height: 210px;
  }
  .app__header_p {
    font-size: 30px;
    line-height: 50px;
  }
  .custom__button {
    font-size: 37px;
    line-height: 67px;
  }
}
@media screen and (max-width: 1150px) {
  .app__header {
    flex-direction: column;
  }
  .app__header_h1 {
    font-size: 90px;
  }
  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }
  .app__wrapper_img {
    width: 70%;
  }
  .app__wrapper_img img {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .app__header {
    padding: 4rem 2.5rem;
  }
}

@media screen and (max-width: 650px) {
  .app__header {
    flex-direction: column;
  }
  .app__header_p {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .app__header_h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .app__wrapper_img img {
    width: 125%;
  }
}
